.not-found-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  row-gap: 15px;

  img {
    width: 60%;
    max-width: 600px;
  }

  h2 {
    text-align: center;
    color: #adb5bd;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
  }
}
