@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
body {
  background-color: #f9f9f9;
  font-family: 'Nunito', sans-serif;
}

body[theme='dark'] {
  background-color: #f5f5f5;
}

#root {
  min-height: 100vh;
}

.row-gap-5 {
  row-gap: $gap-5;
}

.row-gap-10 {
  row-gap: $gap-10;
}

.row-gap-15 {
  row-gap: $gap-15;
}

.row-gap-20 {
  row-gap: $gap-20;
}

.column-gap-5 {
  column-gap: $gap-5;
}

.column-gap-10 {
  column-gap: $gap-10;
}

.column-gap-15 {
  column-gap: $gap-15;
}

.column-gap-20 {
  column-gap: $gap-20;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, '>') !important ;
  color: #adb5bd;
  font-size: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.btn-default {
  background-color: $blue-300;

  &:hover,
  &:focus{
    background-color: $blue-400;
  }
}
