.row-gap-5 {
  row-gap: $gap-5;
}

.row-gap-10 {
  row-gap: $gap-10;
}

.row-gap-15 {
  row-gap: $gap-15;
}

.row-gap-20 {
  row-gap: $gap-20;
}

.column-gap-5 {
  column-gap: $gap-5;
}

.column-gap-10 {
  column-gap: $gap-10;
}

.column-gap-15 {
  column-gap: $gap-15;
}

.column-gap-20 {
  column-gap: $gap-20;
}
