$blue-100: #399BF7;
$blue-200: #2A73B8;
$blue-300: #286CAC;
$blue-400: #24629C;
$blue-500: #215B91;
$blue-600: #1E5282;
$blue-700: #1C4B78;
$blue-800: #1C4B78;
$blue-900: #163B5E;

$bg-login: $blue-300;

$gap-5: 5px;
$gap-10: 10px;
$gap-15: 15px;
$gap-20: 20px;
